{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'experts-container',
    'topics-view-block',
  ]
%}
{% if header %}{{ header.entity_node }}{% endif %}
<div{{ attributes.addClass(classes) }}>
  <div class="grid experts-staff-header">
    <div class="left">
    {{ drupal_breadcrumb() }}
    <h1 class="h1 padding-top">{{ view.title|raw }}</h1>
    {% if header %}{{ header.area }}{% endif %}
    </div>
    <div class="right">
      {% set parent_menu_id = view.display_handler.display.display_options.menu.parent %}
      {% if parent_menu_id %}
      {{ drupal_block('menu_block:page-hierarchies', {level: 1, depth: 0, parent: parent_menu_id, render_parent: false, follow_parent: 'child', follow: 0, label: 'Child pages', label_display: 0, id:'page-hierarchies'}) }}
      {% endif %}
    </div>
  </div>
  {{ drupal_block('facet_block:experts_all_topics') }}
  <div class="resources-wrapper">
    <div class="container">
      {% if exposed %}
        <div class="view-filters">
          <button class="button black filters">{{ "Filters"|t }}</button>
          {{ exposed }}
        </div>
      {% endif %}

      <div class="grid results-wrapper">
        <div class="results-sidebar padding-bottom">
          {{ drupal_block('facet_block:international_office') }}
          {{ drupal_block('facet_block:languages_spoken_taxonomy_term_name') }}
          {{ drupal_block('facet_block:department') }}
        </div>

        <div class="results-body padding-bottom">
          {% if header %}
            <div class="view-header">
              {{ header.extra_result }}
              {{ drupal_block('facets_summary_block:experts_summary') }}
            </div>
          {% endif %}
          {% if rows %}
            <div class="view-content">
              {{ rows }}
            </div>
          {% elseif empty %}
            <div class="view-empty">
              {{ empty }}
            </div>
          {% endif %}

          {% if pager %}
            {{ pager }}
          {% endif %}
          {% if more %}
            {{ more }}
          {% endif %}
        </div>
      </div>

      {% if footer %}
        <div class="view-footer">
          {{ footer }}
        </div>
      {% endif %}
    </div>
  </div>
</div>
