{# Button and Link Styles#}
{# Source: _o5.buttons.scss #}
{% set btnsWithSizes = [
  'button',
  'button white',
] %}
{% set anchorStyles = [
  'arrow-link'
] %}

{% set sizes = [
  'large',
  'small',
] %}

{% set modifiers = [
  'offsite',
  'offsite small',
  'download',
  'download small',
  'gold',
  'ghost',
  'black',
  'white'
] %}

{# Loops through buttons, prints them on all backgrounds at all sizes#}
{% include '@ts_wrin/styleguide/styleguide-components/h4-section-title.twig' with {
  heading: "Existing Site Button Styles",
  description: "Buttons come in two sizes: large and small. And they can have modifiers applied to get additional
  styles."
} %}
{% for size in sizes %}
  <div class="px-4 py-2 colorway-white ts-grid-col-3 md:ts-grid-col-4">
  {% for btn in btnsWithSizes %}
    <button class="{{ btn }} {{ size }}">{{ btn }} {{ size }}</button>
  {% endfor %}
  </div>
{% endfor %}
{% for modifier in modifiers %}
  <div class="px-4 py-2 colorway-white">
    {% for btn in btnsWithSizes %}
      <button class="{{ btn }} {{ modifier }}">{{ btn }} {{ modifier }}</button>
    {% endfor %}
  </div>
{% endfor %}

{# ANCHOR STYLES #}
<div class="px-4 py-2 colorway-white">
 {% for btn in anchorStyles %}
   <div class="inline-block">
    <a class="{{ btn }} " href=" ">{{ btn }}</a>
   </div>
 {% endfor %}
  <div class="external-source-link mt-7">
    <span class="link-label">external-source-link .link-label</span>
    <a class="" href="#">.external-source-link</a>
  </div>
</div>
