{#
/**
 * @file
 * Default theme implementation to display a partner logo paragraph.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {% if paragraph.field_link.0.url %}
        {% set buttonAttributes = paragraph.field_link.0['#options'].attributes %}
        <a href="{{ paragraph.field_link.0.url }}" target="{{ buttonAttributes.target }}" rel="{{ buttonAttributes.rel }}" class="{{ buttonAttributes.class }}" >{{ content.field_partner_logo }}</a>
      {% else %}
        {{ content.field_partner_logo }}
      {% endif %}
    {% endblock %}
  </div>
{% endblock paragraph %}
