{#
/**
 * @file
 * Default theme implementation to display a Social Media Site paragraph.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'paragraph--type--' ~ paragraph.bundle|clean_class,
]
%}
{% set social_site = content.field_site.0['#taxonomy_term'].getName() %}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {% if content.field_site.0 %}
        <div class="social-icon-wrapper {{ social_site|lower }}">{{ content.field_site.0 }}</div>
      {% endif %}
      {% if paragraph.field_links.0.url and content.field_text.0 %}
        <a href="{{ paragraph.field_links.0.url }}" class="{{ buttonAttributes.class }}" >{{ content.field_text.0 }}</a>
      {% elseif paragraph.field_links.0.url %}
        <a href="{{ paragraph.field_links.0.url }}" class="{{ buttonAttributes.class }}" >{{ social_site }}</a>
      {% endif %}
    {% endblock %}
  </div>
{% endblock paragraph %}
