{#
/**
 * @file
 * Display Suite Card template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
{% set display_type = content["#node"].field_event_display[0].value %}
<div class="event__detail tall-hero">
  {% if content['#backlink_enabled'] %}
    <a class="event_backlink" href="#" hidden>< Back</a>
  {% endif %}
  {% if content.hero %}
    <div class="landing-page__hero {{ ((content.hero.field_main_image|render and display_type == 'robust') ? 'has-image' : '') }}">
      {% if content.hero.field_main_image|render and display_type == 'robust' %}
        <div class="hero__image">
          {{ content.hero.field_main_image }}
        </div>
        <div class="hero__text display-type-robust">
          <div class="grid">
            <div class="hero__text--inner padding-vertical">
              <div class="margin-top-xl"></div>
              <div class="event__type">
                {{ content.hero.field_type }}
              </div>
              {{ content.hero.node_title }}
              {{ content.hero.field_intro }}
              <div class="buttons margin-top-md">
                {{ content.buttons }}
              </div>
              <div class="margin-top-xl"></div>
            </div>
          </div>
        </div>
        <div class="dark-overlay"></div>
      {% else %}
        {# Else simple display #}
        <div class="hero__text display-type-simple">
          <div class="grid">
            <div class="hero__text--inner padding-vertical">
              <div class="event__type has-black-background-color has-white-color">
                {{ content.hero.field_type }}
              </div>
              {{ content.hero.node_title }}
              {{ content.hero.field_intro }}

              {% if content.buttons|render %}
                <div class="buttons margin-top-md">
                  {{ content.buttons }}
                </div>
              {% endif %}

              <div class="margin-top-lg"></div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  {% endif %}
  {# end if content.hero #}
    <div class="info__bar black-bar margin-bottom-xs">
      {% if content.info|render %}
        <div class="grid info__bar-inner black-bar-inner">
          <div class="info-inner-wrapper">
            {{ content.info }}
          </div>
        </div>
      {% endif %}
    </div>

  {% if content.category or content.share %}
    <div class="detail__meta meta grid margin-bottom-md">
      <div class="detail__meta-inner meta-inner {% if content.sidebar_left %}two-column{% endif %}">
        {% if content.category %}
          <div {{ region_attributes.category.addClass('layout__region', 'layout__region--category') }}>
            {{ content.category }}
          </div>
        {% endif %}

        {% if content.share %}
          <div {{ region_attributes.share.addClass('layout__region', 'layout__region--share') }}>
            {{ content.share }}
          </div>
        {% endif %}
      </div>

      {% if content.sidebar_left %}
        <div class="detail__meta-secondary">
          {{ content.sidebar_left }}
        </div>
      {% endif %}

    </div>
  {% endif %}
  <div class="event__main main grid">
    {% if content.sidebar_left %}
      <div {{ region_attributes.sidebar_left.addClass('layout__region', 'layout__region--left-sidebar', 'left-sidebar') }}>
        {{ content.sidebar_left }}
      </div>
    {% endif %}
    {% if content.main_content %}
      <div {{ region_attributes.main_content.addClass('layout__region', 'layout__region--main_content', 'main-content', 'margin-bottom-lg') }}>
      {% if content.is_past %}
        {{ content.main_content|without('field_zoom_registration_form') }}
      {% else %}
        {{ content.main_content }}
      {% endif %}
      </div>
    {% endif %}
  </div>
</div>
