{#
/**
 * @file
 * Display Suite Card template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}

<div class="event-callout">
  <div class="event-wrapper">
    {% if content.hero %}
      {% set event_type = content.field_type.0['#plain_text'] %}
      <span class="utility-lg font-bold uppercase has-blue-color">
      {% if content.is_past %}
        {{ "Past "|t ~ event_type }}
      {% else %}
        {{ "Upcoming "|t ~ event_type }}
      {% endif %}
      </span>
      <div class="time-wrapper utility-lg">{{ content.hero.field_date_time }}</div>
      <div class="primary-topic topic-tag">{{ content.hero.field_primary_topic }}</div>
      {{ content.hero.node_title }}
      <div class="utility-base info-text">{{ content.hero.body|render|striptags|trim }}</div>
    {% endif %}
  </div>

  <div class="image-wrapper">
    {% if content.main_content %}
      {{ content.main_content|without('is_past', 'field_type') }}
    {% endif %}

    {% set node = content['#node'] ?? null %}
    {% if node %}
      {% set url = path('entity.node.canonical', {'node': node.id}) %}
    {% endif %}
    <div class="buttons margin-top-xs">
      {% if content.is_past %}
        <a href="{{ url }}" class="button button--primary">{{ "Watch the Video"|t }}</a>
      {% else %}
        {{ content.buttons }}
      {% endif %}
    </div>
  </div>
</div>
