{{ drupal_block('local_tasks_block') }}
{% if page.wrin_custom.wrinfilterstatus %}
  {% include 'wrin-filter-status' %}
{% endif %}
<div id="tray-nav-wrapper">
  <div id="tray-nav-canvas">
    <header>
      <div class="container header-wrapper">
        <div class="header-right {{ menu_color }}">

          {% if page.wrin_custom.languageswitcher %}
            {% include 'wrin-language-button' %}
          {% endif %}

        </div>
      </div>
    </header>

    <div class="mobile-menu-target">
      <div class="ts-mobile-menu__wrapper">

      </div>
    </div>

    {% if page.admin %}
      {{ page.admin }}
    {% endif %}

    {% if page.content %}
      {% if is_node %}
        {{page.content}}
      {% else %}
      <div class="landing-page__content container margin-top-md margin-bottom-md">
        <div class="content__inner">
          {{ drupal_block('local_tasks_block') }}
          {{page.content}}
        </div>
      </div>
      {% endif %}
    {% endif %}

{#     {% if page.footer_top %}
      {{page.footer_top}}
    {% endif %} #}

    {% if page.footer_left or page.footer_right %}
      <div class="region-footer">
        <div class="container">
          <div class="footer-padding">
            <div class="footer-logo margin-bottom-md">
              <a href="/">
                <img class="logo-white" src="{{ footer_logo }}" alt="{{ 'Home'|t }}" />
              </a>
            </div>
            {% if page.footer_left %}
              {{page.footer_left}}
            {% endif %}

            {% if page.footer_right %}
              {{page.footer_right}}
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}

    {% if page.modals %}
      {{ page.modals }}
    {% endif %}

  </div>
</div>
