  {% if hero.content.field_toc %}
    {{ attach_library('wri_toc/tocjs') }}
  {% endif %}
  {% if content %}
    <div id="publication__detail" class="publication__detail {{ display_type }}-display tall-hero">
      {% if content.hero %}
        <div class="landing-page__hero {{ ((content.hero.field_main_image|render and display_type == 'robust') ? 'has-image' : '') }}">
          {% if content.hero.field_main_image|render and display_type == 'robust' %}
            <div class="hero__image">
              {{ content.hero.field_main_image }}
            </div>
            <div class="hero__text">
              <div class="grid">
                <div class="hero__text--inner padding-vertical">
                  <div class="margin-top-xl"></div>
                  {{ content.hero.node_title }}
                  {{ content.hero.field_intro }}
                  {% if content.buttons|render %}
                    <div class="buttons margin-top-md">
                      {{ content.buttons }}
                    </div>
                  {% endif %}
                    <div class="margin-top-xl"></div>
                </div>
              </div>
            </div>
            <div class="dark-overlay"></div>
          {% elseif display_type == 'simple' %}
          {# endif robust display #}
            <div class="hero__text">
              <div class="grid publication__type margin-top-lg">
                {{ content.hero.field_type }}
              </div>
              <div class="grid hero__content--inner margin-top-lg">
                <div class="hero__left">
                  {{ content.hero.node_title }}
                  {{ content.hero.field_intro }}
                  {% if content.buttons|render %}
                  <div class="buttons margin-top-md margin-bottom-sm">
                    {{ content.buttons }}
                  </div>
                  {% else %}
                  <div class="margin-top-sm"></div>
                  {% endif %}
                </div>

                {% if content.hero.field_cover_image|render and display_type == 'simple' %}
                  <div class="hero__right">
                    <div class="hero__right--inner">
                      {{ content.hero.field_cover_image }}
                      <div class="publication-reference margin-top-xs">
                        <div class="isbn margin-right-xs">{{ content.hero.field_isbn }}</div>
                        <div class="doi">{{ content.hero.field_doi }}</div>
                      </div>
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          {% endif %}
          {% if content.hero.field_twitter_account %}
            <div class="block-field-blocknodeprogram-centerfield-twitter-account">
              {{ content.hero.field_twitter_account }}
            </div>
          {% endif %}
          {% if display_type == 'robust' and (content.hero.field_toc is not empty) and (content.hero.field_toc['#value'] != 'microsite') %}
             {{ content.hero.field_toc }}
          {% endif %}
        </div>
      {% endif %}
      {# end if content.hero #}
      {% if display_type == 'robust' and (content.hero.field_toc is not empty) and (content.hero.field_toc['#value'] != 'microsite') %}
          <div class="mobile__toc grid">
            <div class="internal-menu-pages">
              {% set node_title = content.hero.field_toc['#node_title'] %}
              {% set menu_title = content.hero.field_toc['#menu_title'] %}
              {% set menu_link = content.hero.field_toc['#menu_link'] %}
              {% set value = content.hero.field_toc['#value'] %}
              {% if  value == 1 %}
              {{ attach_library('wri_toc/tocjs') }}
                <div class="field-label" tabindex="0"><a tabindex="-1" href="#">{{ node_title }}</a></div>
                <nav role="navigation" id="menu-toc" aria-label="Page sub navigation" class="page-hierarchies">
                  <ul class="toc-list menu" data-toc="div.layout__region--content" data-toc-headings=".publication__main h2"></ul>
                </nav>
              {% elseif value=='menu' %}
                {{ drupal_block('menu_block:' ~ menu_title, {level: 1, expand_all_items: 1, depth: 0, parent: menu_title ~ ':' ~ menu_link, render_parent: 1, follow_parent: 'child', follow: 0, label: 'Table of Contents', label_display: 0, id:'page-hierarchies', suggestion: 'page-hierarchies'}) }}
              {% endif %}
            </div>
           </div>
      {% endif %}


      <div class="publication__main grid margin-top-md">

        {% if content.category or content.share %}
            <div class="detail__meta-inner meta-inner margin-bottom-md {% if content.sidebar.field_narrative_taxonomy|render %}two-column{% endif %}">
              {% if content.category %}
              <div {{ region_attributes.category.addClass('layout__region', 'layout__region--category') }}>
                {{ content.category }}
              </div>
              {% endif %}

              {% if content.share %}
              <div {{ region_attributes.share.addClass('layout__region', 'layout__region--share') }}>
                  <div class="mobile-social visit-on-social margin-right-md">{{ content.sidebar.field_social_sharing_links }}</div>
                {{ content.share }}
              </div>
              {% endif %}
              {% if content.featured_image|render %}
              <div class="publication__image-inner margin-top-md">
                <div {{ region_attributes.share.addClass('layout__region', 'layout__region--featured-image') }}>
                  {{ content.featured_image }}
                </div>
              </div>
            </div>
            {% endif %}
            {% if show_narrative_taxonomy == true %}
              {% if content.sidebar.field_narrative_taxonomy|render %}
                <div class="detail__meta-secondary">
                  {{ content.sidebar.field_narrative_taxonomy }}
                </div>
              {% endif %}
            {% endif %}
        {% endif %}

        {% if content.sidebar %}
          <div {{ region_attributes.sidebar.addClass('layout__region', 'layout__region--sidebar', 'sidebar') }}>
            {% if show_narrative_taxonomy == true %}
              {{ content.sidebar.field_narrative_taxonomy }}
            {% endif %}
            <div class="desktop-social">{{ content.sidebar|without('field_narrative_taxonomy') }}</div>

            {# If robust display show isbn and doi in sidebar #}
            {% if display_type == 'robust' %}
              <div class="publication-reference margin-top-xs">
                <div class="isbn field">{{ content.hero.field_isbn }}</div>
                <div class="doi field">{{ content.hero.field_doi }}</div>
              </div>
            {% endif %}
          </div>
        {% endif %}

        {% if content.featured_image|render %}
          <div class="publication__image margin-bottom-sm">
            <div class="publication__image-inner">
              <div {{ region_attributes.share.addClass('layout__region', 'layout__region--featured-image') }}>
                {{ content.featured_image }}
              </div>
            </div>
          </div>
        {% endif %}

        {% if content.main_content %}
          <div {{ region_attributes.main_content.addClass('layout__region', 'layout__region--main_content', 'main-content', 'margin-bottom-lg') }}>
            {{ content.main_content }}
          </div>
        {% endif %}

      </div>
    </div>
  {% endif %}


