{%
  set classes = [
  configuration.id|clean_class
]
%}
{% set heading_id = 'menu-toc' %}
<nav role="navigation" id="{{ heading_id }}" aria-labelledby="{{ heading_id }}"{{ attributes.addClass(classes)|without('role', 'aria-labelledby','id') }}>
  {{ title_prefix }}{{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
</nav>
