{#
/**
* H3 section title on /style-guide.
*
* Available variables:
* - id: unique id for the section
* - heading: the title of the section
* - description: the description of the section
* - dev_notes: variable and path details.
*/
#}
{% set show_hr = show_hr ?? true %}
{% set heading_color = color ? 'color-' ~ color : 'color-primary' %}

<div class="styleguide-component--h3-section-title my-6" id="{{ id }}">
  <div class="flex items-center justify-between">
    <h3 class="h3 {{ heading_color }}">{{ heading }}</h3>
    {% include '@ts_wrin/design-system/atoms/btns/btn-solid.html.twig' with {
      link: {
        title: 'Report issue',
        url: 'https://github.com/wri/wri_sites/issues/new?template=bug-qa-issue.md&title=' ~ heading ~ ':',
      },
      properties: { target: '_blank' },
      size: 'sm',
    } %}
  </div>
  {% if show_hr %}
    <hr class="border-1 border-neutral-300 mt-3 mb-5">
  {% endif %}
  <div class="mb-lg">
    {% if description %}
      <p class="{{ section_description_classes }}">{{ description }}</p>
    {% endif %}
    {% if dev_notes %}
      <p class="utility-xs italic color-primary"><em>{{ dev_notes }}</em></p>
    {% endif %}
  </div>
</div>
