{# Layouts#}
{# * All grids in use, styled in utilities.css.#}
{##}
{#{% set gridStyle = "bg-neutral-200 p-9" %}#}
{#{% set headerClasses = "utility-xs my-3" %}#}

{#<h3 class="{{ headerClasses }}">ts-grid-col-1</h3>#}
{#<div class="ts-grid-col-1">#}
{#  <div class="{{ gridStyle }}"></div>#}
{#</div>#}
{#<h3 class="{{ headerClasses }}">ts-grid-col-2</h3>#}
{#<div class="ts-grid-col-2">#}
{#  <div class="{{ gridStyle }}"></div>#}
{#  <div class="{{ gridStyle }}"></div>#}
{#</div>#}
{#<h3 class="{{ headerClasses }}">ts-grid-col-3</h3>#}
{#<div class="ts-grid-col-3">#}
{#  <div class="{{ gridStyle }}"></div>#}
{#  <div class="{{ gridStyle }}"></div>#}
{#  <div class="{{ gridStyle }}"></div>#}
{#</div>#}
{#<h3 class="{{ headerClasses }}">ts-grid-col-4</h3>#}
{#<div class="ts-grid-col-4">#}
{#  <div class="{{ gridStyle }}"></div>#}
{#  <div class="{{ gridStyle }}"></div>#}
{#  <div class="{{ gridStyle }}"></div>#}
{#  <div class="{{ gridStyle }}"></div>#}
{#</div>#}
{#<h3 class="{{ headerClasses }}">ts-grid-4-8</h3>#}
{#<div class="ts-grid-4-8">#}
{#  <div class="{{ gridStyle }}"></div>#}
{#  <div class="{{ gridStyle }}"></div>#}
{#</div>#}
{#<h3 class="{{ headerClasses }}">ts-grid-7-5</h3>#}
{#<div class="ts-grid-7-5">#}
{#  <div class="{{ gridStyle }}"></div>#}
{#  <div class="{{ gridStyle }}"></div>#}
{#</div>#}
{#<h3 class="{{ headerClasses }}">ts-grid-8-4</h3>#}
{#<div class="ts-grid-8-4">#}
{#  <div class="{{ gridStyle }}"></div>#}
{#  <div class="{{ gridStyle }}"></div>#}
{#</div>#}
{#<h3 class="{{ headerClasses }}">ts-grid-9-3</h3>#}
{#<div class="ts-grid-9-3">#}
{#  <div class="{{ gridStyle }}"></div>#}
{#  <div class="{{ gridStyle }}"></div>#}
{#</div>#}
{#<h3 class="{{ headerClasses }}">ts-grid-center</h3>#}
{#<div class="ts-grid-center">#}
{#  <div class="{{ gridStyle }}"></div>#}
{#</div>#}

