{% if value == 'microsite' %}
  {# Todo: Add whatever divs here for theming this option. #}
  {{ drupal_contextual_links('menu:menu=' ~ menu_title ~ ':langcode=en') }}
  {{ drupal_block('menu_block:' ~ menu_title, {level: 1, expand_all_items: 1, depth: 0, parent: menu_title ~ ':' ~ menu_link, follow_parent: 'child', follow: 0, label: 'Table of Contents', label_display: 0, id:'toc', suggestion: 'toc'}) }}
{% else %}
<div class="publication__toc {{ color_bar }}">
  <div class="grid publication__toc-inner black-bar-inner">
    {{ attach_library('wri_toc/tocjs') }}
  {% if value == 1 %}
    <nav role="navigation" id="menu-toc" aria-label="Page sub navigation" class="toc">

      <div class="menu-wrapper">
        <div class="menu">
          <ul class="toc-list-wrapper">
            <li class="menu-item menu-item--expanded menu-item--active-trail"><a class="menu-title" href="#">{{ node_title }}</a>
              <ul class="toc-list menu" data-toc="div.layout__region--content" data-toc-headings=".publication__main h2"></ul>
            </li>
          </ul>
        </div>
      </div>
      {% include "@ts_wrin/_includes/scroll-right.html.twig" %}
    </nav>
  {% elseif value == 'menu' and menu_link %}
    {{ drupal_contextual_links('menu:menu=' ~ menu_title ~ ':langcode=en') }}
    {{ drupal_block('menu_block:' ~ menu_title, {level: 1, expand_all_items: 1, depth: 0, parent: menu_title ~ ':' ~ menu_link, follow_parent: 'child', follow: 0, label: 'Table of Contents', label_link: true, label_type: 'fixed', label_display: 0, id:'toc', suggestion: 'toc'}) }}
  {% endif %}
  </div>
</div>
{% endif %}
