{% if item.value == 1 %}
  {{ attach_library('wri_toc/tocjs') }}
  <nav role="navigation" id="menu-toc" aria-label="Page sub navigation" class="toc">

    <div class="menu-wrapper">
      <div class="menu">
        <ul class="toc-list-wrapper">
          <li class="menu-item menu-item--expanded menu-item--active-trail"><a class="menu-title" href="#">{{ node_title }}</a>
            <ul class="toc-list" data-toc="div.main-content" data-toc-headings="h2"></ul>
          </li>
        </ul>
      </div>
    </div>
    <a href="#scroll" aria-hidden="true" tabindex="-1" class="nav-arrow"><svg aria-hidden="true" data-prefix="far" data-icon="chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-chevron-right fa-w-8 fa-3x"><path d="M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z"/><title>{{ "Click to see more"|t }}</title></svg></a>
  </nav>
{% elseif item.value == 'menu' and menu_link %}
  {{ contextual_links('menu:menu=' ~ menu_title ~ ':langcode=en') }}
  {{ drupal_block('menu_block:' ~ menu_title, {level: 1, depth: 0, parent: menu_title ~ ':' ~ menu_link, render_parent: 1, follow_parent: 'child', follow: 0, label: 'Table of Contents', label_display: 0, id:'toc', suggestion: 'toc'}) }}
{% endif %}
