<div class="ds-1col clearfix search-results-container margin-bottom-sm">
  {% if result %}
    {% if result.articletags or result.pagemap.metatags[0].wri_type %}
      <div class="search-results-tags">
        <div class="tags">
          {% if result.articletags %}
            <div class="topic-tag">{{ result.articletags }}</div>
          {% endif %}
        </div>
        {% if result.pagemap.metatags[0].wri_type %}
          <span class="content-type-region bundle">
          {{ result.pagemap.metatags[0].wri_type }}
        </span>
        {% endif %}
      </div>
    {% endif %}
    <div class="search-results-text">
      <div>
        {% if result.pagemap.metatags[0].wri_published %}
          <span class="post-date">{{ result.pagemap.metatags[0].wri_published }}</span>
        {% endif %}
      </div>
      {% if result.link %}
        <h3 class="h3"><a href="{{ result.link }}">{{ result.htmlTitle | raw }}</a></h3>
      {% endif %}
      {{ highlight_search(result.snippet, term) }}
      {% if result.articletags %}
        <div class="tags">
          {{ result.articletags }}
        </div>
      {% endif %}
      {% if result.pagemap.metatags[0].wri_register %}
        {{ result.pagemap.metatags[0].wri_register }}
      {% endif %}
    </div>
    <div class="search-results-image">
      {{ result.pagemap.metatags[0].wri_thumbnail }}
      <div class="tags">
        {{ result.articletags }}
      </div>
    </div>
  {% endif %}
</div>
