<div class="ds-1col clearfix search-results-container margin-bottom-sm">
  {% if result %}
    <div class="search-results-text">
      {% if result.link %}
        <h3 class="h3"><a href="{{ result.link }}">{{ result.title }}</a></h3>
      {% endif %}
      <div class="body-base mb-5"{{ highlight_search(result.snippet, term) }}</div>
      {% if result.pagemap.metatags[0].wri_register %}
        {{ result.pagemap.metatags[0].wri_register }}
      {% endif %}
    </div>
    {% if result.image_url %}
    <div class="search-results-image">
      <img src="{{ result.image_url }}" alt="{{ result.title }}" />
    </div>
    {% endif %}
  {% endif %}
</div>
