<div class="ds-1col clearfix search-results-container margin-bottom-sm">
  {% if result %}
    <div class="search-results-text">
      {% if result.link %}
        <h3 class="h3"><a href="{{ result.link }}">{{ result.htmlTitle | raw }}</a></h3>
      {% endif %}
      <div class="body-base mb-5"{{ highlight_search(result.snippet, term) }}</div>
      {% if result.pagemap.metatags[0].wri_register %}
        {{ result.pagemap.metatags[0].wri_register }}
      {% endif %}
    </div>
    <div class="search-results-image">
      <img src="{{ result.pagemap.metatags[0].wri_thumbnail }}" alt="" />
      <div class="tags"><ul><li>{{ result.pagemap.metatags[0]['article:tag'] }}</li></ul></div>
    </div>
  {% endif %}
</div>
