{#
/**
 * @file
 * Display Suite Hero and Content template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}

<div {{ attributes.addClass('ds-1col', 'clearfix') }}>

{{ title_suffix.contextual_links }}
  {% if content.hero_image or content.hero_text %}
    <div class="landing-page__hero {{ ((content.hero_image|render) ? 'has-image' : '') }}">
      {% if content.hero_image %}
        <div class="hero__image">
          {{ content.hero_image }}
        </div>
      {% endif %}

      <div class="hero__text">
        <div class="grid">
          <div class="hero__text--inner padding-vertical">
            {% if content.hero_text|render|striptags|trim is not empty %}
              <div class="margin-top-xl"></div>
            {% endif %}
            {{ content.hero_text }}
          </div>
        </div>
      </div>

      {% if content.hero_image|render %}
        <div class="dark-overlay"></div>
      {% endif %}
    </div>
  {% endif %}


  {% if content.content|render is not empty and content.featured_image|render is not empty %}
    <div class="landing-page__content grid margin-top-md margin-bottom-md">
      {% if content.featured_image|render %}
        <div class="layout__region layout__region--featured-image">
          {{ content.featured_image }}
        </div>
      {% endif %}
      <div class="content__inner main-content layout__region--main_content">
        {{ content.content }}
      </div>
    </div>
  {% endif %}
</div>
