{#
/**
 * @file
 * Display Suite Hero and Content template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}

<div {{ attributes.addClass('ds-1col', 'clearfix') }}>

  {{ title_suffix.contextual_links }}
  {% if content.hero_image or content.hero_text %}
    <div class="landing-page__hero {{ ((content.hero_image|render) ? 'has-image' : '') }}">
      <div class="grid">
        <div class="hero__text">
          <div class="hero__text--inner padding-vertical">
            {% if content.hero_text|render|striptags|trim is not empty %}
              <div class="margin-top-xl"></div>
            {% endif %}
            {{ content.hero_text }}
          </div>
        </div>
        {% if content.hero_image %}
          <div class="hero__image">
            {{ content.hero_image }}
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}

  {% if content.content|render|striptags|trim is not empty %}
    <div class="landing-page__content grid margin-top-md margin-bottom-md">
      <div class="content__inner main-content layout__region--main_content">
        {{ content.content }}
      </div>
    </div>
  {% endif %}
</div>
{% if content.field_listing|render|striptags|trim is not empty %}
  <div class="landing-page__hero__field-listing__mobile container content-side-padding padding-vertical white">
    {{ content.field_listing }}
  </div>
{% endif %}
