{#
/**
 * @file
 * Display Suite Card template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
 <div class="person__detail">
   {% if content.hero %}
     <div class="landing-page__hero">
       <div class="hero__text">
         {% if content.hero.field_leadership.0['#markup'] %}
         <div class="grid publication__type leadership">
           {{ content.hero.field_leadership }}
         </div>
         {% endif %}
         <div class="grid hero__content--inner">
           <div class="hero__left col-span-full md:col-end-9 lg:col-start-2">
             {{ content.hero|without('field_first_name')|without('field_leadership') }}
             <div class="buttons">
               {% if content.sidebar_contact.field_email.0['#title'] %}
                 <div class="button-holder">
               <a class="button small contact-btn" href="mailto:{{ content.sidebar_contact.field_email.0['#title'] }}">
                 {{ 'Contact'|t }}{{ content.hero.field_first_name }}
               </a>
                 </div>
              {% endif %}
               {{ content.buttons }}
             </div>
           </div>

           {% if content.featured_image|render %}
             <div class="hero__right margin-top-sm margin-bottom-sm col-span-full md:col-start-9">
               {{ content.featured_image }}
             </div>
           {% endif %}
         </div>
       </div>
     </div>
   {% endif %}

   <div class="publication__main grid">
     <div class="quote margin-bottom-xl">
       {% if content.quote|render %}
         <div class="quote-inner">
           {{ content.quote }}
       </div>
       {% endif %}
     </div>

     {% if content.main_content %}
       <div {{ region_attributes.main_content.addClass('layout__region', 'layout__region--main_content', 'main-content', 'utility-md', 'margin-bottom-lg', 'col-span-full', 'lg:col-end-8', 'lg:col-start-2') }}>
         {{ content.main_content }}
       </div>
     {% endif %}

     {% if content.sidebar_contact or content.sidebar %}
       <div {{ region_attributes.sidebar.addClass('layout__region', 'layout__region--sidebar', 'sidebar', 'list-of-fields-sidebar', 'col-span-full', 'lg:col-end-12', 'lg:col-start-9', 'lg:order-1') }}>
         {% if content.sidebar_contact|render %}
           <div class="field-label-above">
           {{ "Contact Information"|t }}
           </div>
         {{ content.sidebar_contact }}
         {% endif %}
         {{ content.sidebar }}
       </div>
     {% endif %}
   </div>
 </div>
