{#
/**
 * @file
 * Display Suite Unique Feature template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
<div {{ attributes.addClass('ds-1col', 'clearfix', 'unique-feature', 'padding-vertical') }}>

  {{ title_suffix.contextual_links }}
  {% if content.image %}
      <a href="{{ content.left_text.field_link.0['#url'].toString }}" class="image-link" aria-hidden="true" tabindex="-1" >
        <div class="image-wrapper">
          {{ content.image|without('field_overlay_color') }}
          <div class="grid white-corners">
            <div class="inner-box"></div>
          </div>
          <div class="grid image-box">
            <div class="inner-box {{ content.left_text.field_overlay_color.0['#markup'] }}"></div>
          </div>
        </div>
      </a>
  {% endif %}

  <div class="grid">
    {% if content.left_text %}
      <div class="left-text-wrapper">
        {{ content.left_text|without('field_link', 'block_label') }}
        <a href="{{ content.left_text.field_link.0['#url'].toString }}"  class="block_label" aria-hidden="true" tabindex="-1" >{{ content.left_text.block_label }}</a>
        {% if content.left_text.field_link|render %}
          <a href="{{ content.left_text.field_link.0['#url'].toString }}" class="button">
            {{ content.left_text.field_link.0['#title'] }}
          </a>
        {% endif %}
      </div>
    {% endif %}

    {% if content.right_text %}
      <div class="right-text-wrapper">
        {{ content.right_text }}

        {% if content.left_text.field_link|render %}
          <a href="{{ content.left_text.field_link.0['#url'].toString }}" class="button">
            {{ content.left_text.field_link.0['#title'] }}
          </a>
        {% endif %}
      </div>
    {% endif %}
  </div>

</div>
