{#
/**
 * @file
 * Display Suite Search Results template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}

<div {{ attributes.addClass('ds-1col', 'clearfix', 'search-results-container', 'margin-bottom-sm') }}>
  {{ title_suffix.contextual_links }}
  {% if content %}
  {% if content.left_section %}
    <div class="search-results-tags">
        <div class="tags">
          {% if content.left_section.field_region|render or content.left_section.field_primary_topic|render or content.left_section.field_topics|render %}
          <div class="topic-tag">{{ content.left_section.field_primary_topic }}</div>
          <div class="topic-tag">{{ content.left_section.field_region }}</div>
            <div class="topic-tag">{{ content.left_section.field_topics }}</div>
          {% endif %}
        </div>
      {% if content.main_section['bundle_field:node'] %}
        <span class="content-type-region bundle">
          {{ content.main_section['bundle_field:node'] }}
        </span>
      {% endif %}
      {% if content.left_section.field_type %}
        <span class="content-type-region bundle">
          {{ content.left_section.field_type }}
        </span>
      {% endif %}
    </div>
    {% endif %}
    <div class="search-results-text">
      <div>
        {% if content.main_section.field_resource_type %}
            {{ content.main_section.field_resource_type }}
        {% endif %}
        {% if content.main_section.is_past %}
          {{ content.main_section.is_past }}
        {% endif %}
        {% if content.main_section.node_post_date %}
            <span class="post-date">{{ content.main_section.node_post_date }}</span>
        {% endif %}
        {% if content.main_section.field_date_time %}
          <span class="post-date">{{ content.main_section.field_date_time }}</span>
        {% endif %}
      </div>
      {% if content.main_section.node_title %}
        {{ content.main_section.node_title }}
      {% endif %}
      {% if content.field_intro[0]["#text"] %}
        <div class="utility-base info-text mb-4">{{ content.field_intro|render|striptags|trim }}</div>
      {% elseif content.body[0]["#text"] %}
        <div class="utility-base info-text mb-4">{{ content.body|render|striptags|trim }}</div>
      {% endif %}
      {% if content.main_section.field_tags  %}
        <div class="tags">
          {{ content.main_section.field_tags }}
        </div>
      {% endif %}
      {% if content.main_section.field_register  %}
          {{ content.main_section.field_register }}
      {% endif %}
      {% if content.main_section.register_button  %}
        {{ content.main_section.register_button }}
      {% endif %}
    </div>
    <div class="search-results-image">
      {{ content.right_section }}
      <div class="tags">
        {{ content.main_section.field_tags }}
      </div>
    </div>
  {% endif %}
</div>
