{#
/**
 * @file
 * Theme override to display the carousel with tabs block.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'grid'
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }} class="carousel-with-tabs-title padding-top utility-xl italic body-serif-md">{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
</div>
