{#
/**
 * @file
 * Theme override to display a modal block.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'block-modal',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block content %}
    {% if content.field_image_full_width.0 %}
      <div class="top-image">
        {{ content.field_image_full_width }}
      </div>
    {% endif %}
      <button type="button" class="hidden ui-button" title="Close">
        <span class="ui-icon-closethick"></span>Close</button>
      <div class="modal_inner">
        <div class="modal_inner_wrapper">
        <div class="left-text">
          {{ content.field_title }}
          {{ content.field_intro }}
        </div>
        <div class="right-image">
          {% if content.field_image_inset.0 %}
            {{ content.field_image_inset }}
          {% endif %}
        </div>
        </div>
        {{ content.field_link }}
        {{ content.field_webform }}
      </div>
  {% endblock %}
</div>
