{%
  set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'grid'
]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="col-start-1 col-end-4 md:col-start-1 md:col-end-3 lg:col-start-11 lg:col-end-13 xl:col-start-10">
    <div class="md:absolute md:mt-xl lg:mt-0 z-1">
    {{ title_prefix }}
    {% if label %}
      <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    {% block content %}
      {{ content }}
    {% endblock %}
    </div>
  </div>
</div>
